li {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

.delete-button {
  width: 70px;
  border: 2px solid rgb(153, 153, 153);
  border-radius: 5px;
  font-weight: 700;
  background-color: transparent;
  color: rgb(153, 153, 153);
  cursor: pointer;
}

.delete-button:hover,
.delete-button:focus {
  color: rgb(255, 38, 38);
  border: 2px solid rgb(255, 38, 38);
}
